html,
body,
div,
span,
h1,
h2,
a,
img,
ol,
ul,
li,
table {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline
}

ol,
ul {
  list-style: none
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

:root {
  --pbg-header: 9996;
  --pbg-header-behind: calc(var(--pbg-header) - 1);
  --pbg-shot-overlay: calc(var(--pbg-header) + 1);
  --pbg-attachment-overlay: calc(var(--pbg-shot-overlay) + 1);
  --pbg-default-overlay: calc(var(--pbg-shot-overlay) + 3);
  --pbg-hovercard: calc(var(--pbg-shot-overlay) + 1);
  --pbg-tipsy: calc(var(--pbg-default-overlay) + 1);
  --pbg-dialog: calc(var(--pbg-default-overlay) + 5);
  --pbg-filter: 1000;
  --pbg-dropdown: 1000;
  --pbg-autocomplete: calc(var(--pbg-shot-overlay) + 1);
  --pbg-sticky-job-header: calc(var(--pbg-hovercard) + 1);
  --pbg-jobs-bg-effect: 10;
  --pbg-playbook-overlay: var(--pbg-shot-overlay);
  --pbg-playbook-notice: calc(var(--pbg-playbook-overlay) - 1);
  --pbg-playbook-customize: calc(var(--pbg-playbook-notice) + 1);
  --pbg-playbook-head: 2;
  --pbg-playbook-edit-links: calc(var(--pbg-playbook-head) + 1);
  --pbg-max: 99999999999
}

:root {
  --pbg-min-width: 100px;
  --pbg-max-width: 252px;
  --pbg-min-height: 100px;
  --pbg-max-height: 252px
}

:not(:defined) [slot] {
  display: none
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
  }
}

@media only screen and (max-width: 959px) {
  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }
}

body {
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  -webkit-font-feature-settings: 'ss01';
  font-feature-settings: 'ss01';
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
  color: #0d0c22
}

#footer {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

a:link,
a:visited {
  -webkit-transition: var(--link-transition, color 200ms ease);
  transition: var(--link-transition, color 200ms ease);
  color: var(--link-color, #0d0c22);
  -webkit-text-decoration: var(--link-decoration, none);
  text-decoration: var(--link-decoration, none)
}

a:hover {
  color: var(--link-color-hover, #3d3d4e);
  -webkit-text-decoration: var(--link-decoration-hover, none);
  text-decoration: var(--link-decoration-hover, none)
}

a:active {
  outline: none
}

::-moz-selection {
  background: rgba(255, 218, 121, 0.5);
  color: #0d0c22
}

::selection {
  background: rgba(255, 218, 121, 0.5);
  color: #0d0c22
}


.rails {
  background-color: red;
  margin-top: 10vh;

}

.direction-to-left {
  animation: scroll 30s linear infinite;
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
    -webkit-transform: translateX(50vw);
  }
}

.railrow {
  display: flex;
  position: relative;
  width: 220vw;
  height: 40vh;
}

.railrow-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
  width: 16.5vw;
  padding-top: 20px;
  margin: 20px;
}

.railrow img {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-right: 20px;
}


#content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 14px
}

#main {
  width: 74.5455%;
  float: left
}

@media only screen and (max-width: 959px) {
  #main {
    margin-bottom: 40px
  }
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 32px;
    padding-left: 32px
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 72px;
    padding-left: 72px
  }
}

@media only screen and (max-width: 959px) {

  #content,
  #main {
    width: auto;
    float: none
  }
}

h1 {
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px
}

h2 {
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px
}

h2.section {
  margin: 0 0 15px;
  padding: 0 0 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  color: #0d0c22;
  font-size: 16px;
  font-weight: 500;
  line-height: 1
}

h2.section span.meta {
  color: #6e6d7a;
  font-weight: normal
}

h2.alt {
  margin: 0 0 10px;
  color: #0d0c22;
  font-size: 22px;
  font-weight: 500
}

@media only screen and (max-width: 959px) {
  h2.alt {
    font-size: 18px
  }
}

a img {
  border: none
}

.group {
  position: relative
}

.group:after {
  content: '.';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  clear: both;
  overflow: hidden;
  opacity: 0
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #f3afe4
}

body {
  padding-top: 60px
}

@media (min-width: 920px) {
  body {
    padding-top: 0
  }
}

:root {
  --btn-bg-color: #4c28c0;
  --btn-bg-color-hover: #565564;
  --btn-text-color: #fff;
  --btn-text-color-hover: #fff;
  --btn-border-color: var(--btn-bg-color);
  --btn-border-color-hover: var(--btn-bg-color-hover);
  --btn-height: 40px;
  --btn-padding: 20px;
  --btn-font-size: 13px;
  --btn-icon-size: 16px
}

.btn2 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden
}

.btn2,
a.btn2 {
  width: var(--btn-width, -webkit-min-content);
  width: var(--btn-width, -moz-min-content);
  width: var(--btn-width, min-content);
  height: var(--btn-height);
  padding: 0 var(--btn-padding);
  -webkit-transition: 0.15s cubic-bezier(0.32, 0, 0.59, 0.03);
  transition: 0.15s cubic-bezier(0.32, 0, 0.59, 0.03);
  -webkit-transition-property: color, background-color, border, border-radius;
  transition-property: color, background-color, border, border-radius;
  border: var(--btn-border-width, 1.5px) solid var(--btn-border-color, var(--btn-bg-color));
  border-radius: var(--btn-border-radius, 9999999px);
  background-color: var(--btn-bg-color);
  /*background-color: #4c28c0;*/
  color: var(--btn-text-color);
  font-family: inherit;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight, 600);
  -webkit-font-feature-settings: 'ss01';
  font-feature-settings: 'ss01';
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  gap: var(--btn-gap, 8px)
}

.btn2:before {
  content: '';
  visibility: var(--btn-loading-visibility, hidden);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--btn-loading-opacity, 0);
  background-color: var(--btn-bg-color);
  pointer-events: none
}

.btn2:after {
  content: '';
  display: -ms-flexbox;
  display: flex;
  visibility: var(--btn-loading-visibility, hidden);
  position: absolute;
  z-index: 2;
  top: calc(50% - (var(--btn-icon-size) / 2));
  left: calc(50% - (var(--btn-icon-size) / 2));
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
  -webkit-animation: loading-spin-animation 0.35s infinite linear;
  animation: loading-spin-animation 0.35s infinite linear;
  border: 1px solid var(--btn-text-color);
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  opacity: var(--btn-loading-opacity, 0);
  pointer-events: none
}

@media (hover: hover) {

  .btn2:hover:not([disabled]),
  .btn2:focus-visible:not([disabled]) {
    border-color: var(--btn-border-color-hover, var(--btn-bg-color-hover));
    background-color: var(--btn-bg-color-hover, var(--btn-bg-color));
    color: var(--btn-text-color-hover, var(--btn-text-color))
  }
}

.btn2--xxlarge {
  position: relative;
  bottom: 30vh;
  left: 25vw;
  font-size: 1.8rem !important;
  padding: 2rem 6rem !important;
  box-shadow: rgb(29 135 203 / 25%) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgb(13 52 169 / 12%) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(77 34 150 / 9%) 0px -3px 5px;
}

.btn2--large {
  --btn-height: 56px;
  --btn-padding: 24px;
  --btn-font-size: 14px
}

.btn2--medium {
  --btn-height: 48px;
  --btn-padding: 24px;
  --btn-font-size: 14px
}

.btn2--secondary {
  --btn-bg-color: #fff;
  --btn-bg-color-hover: #fff;
  --btn-text-color: #0d0c22;
  --btn-text-color-hover: #6e6d7a;
  --btn-border-color: var(--btn-text-color);
  --btn-border-color-hover: var(--btn-text-color-hover)
}

.btn2--secondary-alt {
  --btn-bg-color: #fff;
  --btn-bg-color-hover: #fff;
  --btn-text-color: #0d0c22;
  --btn-text-color-hover: #6e6d7a;
  --btn-border-color: var(--btn-bg-color);
  --btn-border-color-hover: var(--btn-bg-color-hover)
}

@-webkit-keyframes loading-spin-animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes loading-spin-animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes icon-expand-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  15% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }

  32% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes icon-expand-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  15% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }

  32% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

:root {
  --announcements-gutter: 0
}

:root {
  --nav-v2-bg-color: #fff;
  --nav-v2-bg-color-mobile: #fff;
  --nav-v2-height: 100px;
  --nav-v2-font-size: 14px;
  --nav-v2-font-weight: 600
}

.nav-v2-dynamic {
  --nav-v2-dynamic-menu-gap: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: 0.4s opacity ease-in-out;
  transition: 0.4s opacity ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-font-feature-settings: 'ss01';
  font-feature-settings: 'ss01';
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--nav-v2-font-size);
  font-weight: var(--nav-v2-font-weight);
  white-space: nowrap
}

.nav-v2-dynamic--loaded {
  visibility: visible !important;
  opacity: 1 !important
}

.nav-v2-dynamic a:not(.btn2),
.nav-v2-dynamic a:visited:not(.btn2),
.nav-v2-dynamic a:active:not(.btn2) {
  color: var(--link-color, #0d0c22);
  text-decoration: none
}

.nav-v2-dynamic a:hover {
  --link-color: #565564
}

.nav-v2-dynamic__logged-out {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-column-gap: var(--nav-v2-dynamic-menu-gap);
  -moz-column-gap: var(--nav-v2-dynamic-menu-gap);
  column-gap: var(--nav-v2-dynamic-menu-gap)
}

@-webkit-keyframes graph-pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(237, 127, 223, 0.9);
    box-shadow: 0 0 0 0 rgba(237, 127, 223, 0.9)
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 13px rgba(237, 127, 223, 0);
    box-shadow: 0 0 0 13px rgba(237, 127, 223, 0)
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(237, 127, 223, 0);
    box-shadow: 0 0 0 0 rgba(237, 127, 223, 0)
  }
}

@keyframes graph-pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(237, 127, 223, 0.9);
    box-shadow: 0 0 0 0 rgba(237, 127, 223, 0.9)
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 13px rgba(237, 127, 223, 0);
    box-shadow: 0 0 0 13px rgba(237, 127, 223, 0)
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(237, 127, 223, 0);
    box-shadow: 0 0 0 0 rgba(237, 127, 223, 0)
  }
}

.accessibility-text {
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0
}

.footer-v2 {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s opacity ease-in-out;
  transition: 0.4s opacity ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background-color: #fff;
  color: #0d0c22;
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'ss01';
  font-feature-settings: 'ss01'
}

.footer-v2--loaded {
  visibility: visible !important;
  opacity: 1 !important
}

.footer-v2 a,
.footer-v2 a:visited,
.footer-v2 a:active {
  color: inherit;
  text-decoration: none
}

.footer-v2 ul,
.footer-v2 li {
  margin: 0;
  padding: 0
}

.footer-v2__container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px
}

@media (min-width: 768px) {
  .footer-v2__container {
    padding: 0 32px
  }
}

.footer-v2__lower {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 32px 0;
  color: #6e6d7a;
  font-size: 14px;
  line-height: 20px;
  row-gap: 8px
}

@media (min-width: 768px) {
  .footer-v2__lower {
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 44px 0;
    row-gap: 0
  }
}

.footer-v2__lower-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  list-style: none;
  row-gap: 4px
}

@-webkit-keyframes footer-marquee-desktop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0)
  }
}

@keyframes footer-marquee-desktop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0)
  }
}

@-webkit-keyframes footer-marquee-mobile-wiggle {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
  }
}

@keyframes footer-marquee-mobile-wiggle {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
  }
}

:root {
  --nav-v2-gutter: 24px
}

@media (min-width: 950px) {
  :root {
    --nav-v2-gutter: 40px
  }
}

body {
  padding-top: 0
}

.nav-v2-theme-cream {
  --nav-v2-bg-color: #f8f7f4;
  --nav-v2-search-bg-color: #fff
}

.nav-v2 {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: var(--pbg-header);
  top: 0;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

@media (min-width: 950px) {
  .nav-v2 {
    position: relative;
    top: initial
  }
}

.nav-v2__dark-overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  z-index: var(--pbg-header-behind);
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  -webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s;
  transition: opacity 0.25s ease-in-out, visibility 0.25s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

@media (min-width: 950px) {
  .nav-v2__dark-overlay {
    display: none
  }
}

.nav-v2__wrapper {
  display: grid;
  z-index: var(--pbg-header);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: 20px 90px 1fr;
  grid-template-rows: var(--nav-v2-height);
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 var(--nav-v2-gutter);
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  /*background-color: var(--nav-v2-bg-color, #fff);*/
  gap: 20px;

  background-color: #160b1e;
  color: #fff;
}

@media (min-width: 950px) {
  .nav-v2__wrapper {
    grid-template-columns: 90px 1fr auto;
    gap: 40px
  }
}

@media (min-width: 1400px) {
  .nav-v2__wrapper {
    grid-template-columns: 1fr 96px 1fr;
    gap: 24px
  }
}

.nav-v2-logo {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -1px;
  -ms-flex-order: -1;
  order: -1;
  height: 50px;
  width: 160px;
  background-image: url(../images/pbg-dice-only.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .nav-v2-logo {
    -ms-flex-order: initial;
    order: initial;
    height: 140px;
    width: 200px;
    margin-top: 80px;
    margin-left: -60px;
    background-image: url(../images/pbg-dice-horiz.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 400px) {
  .nav-v2-logo {
    background-image: url(../images/pbg-dice-horiz.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.nav-v2-main {
  --nav-v2-main-gap: 32px;
  font-size: var(--nav-v2-font-size);
  font-weight: var(--nav-v2-font-weight);
  white-space: nowrap
}

@media (max-width: 949px) {
  .nav-v2-main {
    --nav-v2-main-gap: 24px;
    visibility: hidden;
    position: fixed;
    top: var(--nav-v2-height);
    right: 0;
    width: 100%;
    -webkit-transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
    transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
    opacity: 0
  }
}

@media (max-width: 949px) {
  .nav-v2-main__wrapper {
    position: relative;
    z-index: var(--pbg-header);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - var(--nav-v2-height));
    padding: 32px;
    overflow-y: scroll;
    border-top: 1px solid #e7e7e9;
    background-color: #160b1e;
    -webkit-overflow-scrolling: touch
  }
}

.nav-v2-main__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start
}

@media (min-width: 950px) {
  .nav-v2-main__list {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center
  }
}

.nav-v2-main__item {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  /*color: #0d0c22;*/
  color: #fffffffa;
  line-height: 1;
  padding-left: 15px;
}

.nav-v2-main__item:first-child {
  margin: calc(-1 * (var(--nav-v2-main-gap) / 2)) 0 0 0
}

@media (min-width: 950px) {
  .nav-v2-main__item:first-child {
    margin: 0 0 0 calc(-1 * (var(--nav-v2-main-gap) / 2))
  }
}

.nav-v2-main__item:hover {
  color: #565564
}

@media (max-width: 949px) {
  .nav-v2-main__item {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1)
  }

  .nav-v2-main__item:nth-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }

  .nav-v2-main__item:nth-child(2) {
    -webkit-transition-delay: 0.03s;
    transition-delay: 0.03s
  }

  .nav-v2-main__item:nth-child(3) {
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s
  }

  .nav-v2-main__item:nth-child(4) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s
  }

  .nav-v2-main__item:nth-child(5) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s
  }

  .nav-v2-main__item:nth-child(6) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
  }

  .nav-v2-main__item:nth-child(7) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s
  }

  .nav-v2-main__item:nth-child(8) {
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s
  }

  .nav-v2-main__item:nth-child(9) {
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s
  }

  .nav-v2-main__item:nth-child(10) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s
  }

  .nav-v2-main__item:nth-child(11) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
  }

  .nav-v2-main__item:nth-child(12) {
    -webkit-transition-delay: 0.33s;
    transition-delay: 0.33s
  }

  .nav-v2-main__item:nth-child(13) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s
  }

  .nav-v2-main__item:nth-child(14) {
    -webkit-transition-delay: 0.39s;
    transition-delay: 0.39s
  }

  .nav-v2-main__item:nth-child(15) {
    -webkit-transition-delay: 0.42s;
    transition-delay: 0.42s
  }

  .nav-v2-main__item:nth-child(16) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s
  }
}

@media (prefers-reduced-motion) {
  .nav-v2-main__item {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: none;
    transition: none
  }
}

.nav-v2-main__item a {
  padding: calc(var(--nav-v2-main-gap) / 2) 0
}

.nav-v2-main__item a:visited,
.nav-v2-main__item a:link,
.nav-v2-main__item a:hover {
  color: inherit
}

@media (min-width: 950px) {
  .nav-v2-main__item a {
    padding: 0 calc(var(--nav-v2-main-gap) / 2)
  }
}

@media (max-width: 949px) {
  .nav-v2-main__item:last-child a {
    padding-bottom: 0
  }
}

.nav-v2-burger {
  --burger-padding: 6px;
  display: grid;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  grid-template-columns: 1fr;
  -ms-flex-order: -10;
  order: -10;
  width: 20px;
  margin: 0;
  margin-left: calc(-1 * var(--burger-padding));
  padding: var(--burger-padding);
  border: none;
  background: none;
  cursor: pointer;
  gap: 5px
}

@media (min-width: 950px) {
  .nav-v2-burger {
    display: none
  }
}

.nav-v2-burger>* {
  width: 100%;
  height: 2px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  border-radius: 9999999px;
  opacity: 1;
  background-color: #fff;
  /*background-color: #0d0c22*/
}

.nav-v2-burger>*:nth-child(3) {
  width: 67%
}

.pbg-nav {
  visibility: visible;
  opacity: 1;
}

:root {
  --input-padding-left: 12px;
  --input-padding-right: 12px
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4)
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(234, 76, 137, 0);
    box-shadow: 0 0 0 10px rgba(234, 76, 137, 0)
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0);
    box-shadow: 0 0 0 0 rgba(234, 76, 137, 0)
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4)
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(234, 76, 137, 0);
    box-shadow: 0 0 0 10px rgba(234, 76, 137, 0)
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0);
    box-shadow: 0 0 0 0 rgba(234, 76, 137, 0)
  }
}

.shots-grid {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  list-style: none
}

@media (min-width: 1600px) {
  .shots-grid {
    grid-template-columns: repeat(auto-fill, minmax(560px, 1fr))
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .shots-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 calc(-48px / 2)
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 768px),
(-ms-high-contrast: active) and (min-width: 768px) {
  .shots-grid {
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .shot-thumbnail {
    -ms-flex: 1 1 316px;
    flex: 1 1 316px;
    max-width: 480px;
    margin: calc(48px / 2)
  }
}

:root {
  --banner-gutter: 20px
}

@media (min-width: 768px) {
  :root {
    --banner-gutter: 32px
  }
}

@media (min-width: 1200px) {
  :root {
    --banner-gutter: 72px
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.group {
  position: relative
}

.group:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both
}

.font-weight-500 {
  font-weight: 500
}

.margin-t-32 {
  margin-top: 32px
}

.accessibility-text {
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0
}

.shots-grid {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  list-style: none
}

@media (max-width: 430px) {
  .shots-grid {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
  }
}

@media (min-width: 1600px) {
  .shots-grid {
    grid-template-columns: repeat(auto-fill, minmax(560px, 1fr))
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .shots-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 calc(-48px / 2)
  }
}

@media all and (-ms-high-contrast: none) and (min-width: 768px),
(-ms-high-contrast: active) and (min-width: 768px) {
  .shots-grid {
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .shot-thumbnail {
    -ms-flex: 1 1 316px;
    flex: 1 1 316px;
    max-width: 480px;
    margin: calc(48px / 2)
  }
}


.shot-thumbnail-container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 12px;
}


.shot-thumbnail-container .shot-thumbnail-base {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}


.shot-thumbnail-container .shot-thumbnail-base:hover .shot-thumbnail-overlay {
  opacity: 1
}


.shot-thumbnail-container .shot-thumbnail-base:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(8.1%, rgba(0, 0, 0, 0)), color-stop(15.5%, rgba(0, 0, 0, 0.001)), color-stop(22.5%, rgba(0, 0, 0, 0.003)), color-stop(29%, rgba(0, 0, 0, 0.005)), color-stop(35.3%, rgba(0, 0, 0, 0.008)), color-stop(41.2%, rgba(0, 0, 0, 0.011)), color-stop(47.1%, rgba(0, 0, 0, 0.014)), color-stop(52.9%, rgba(0, 0, 0, 0.016)), color-stop(58.8%, rgba(0, 0, 0, 0.019)), color-stop(64.7%, rgba(0, 0, 0, 0.022)), color-stop(71%, rgba(0, 0, 0, 0.025)), color-stop(77.5%, rgba(0, 0, 0, 0.027)), color-stop(84.5%, rgba(0, 0, 0, 0.029)), color-stop(91.9%, rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 8.1%, rgba(0, 0, 0, 0.001) 15.5%, rgba(0, 0, 0, 0.003) 22.5%, rgba(0, 0, 0, 0.005) 29%, rgba(0, 0, 0, 0.008) 35.3%, rgba(0, 0, 0, 0.011) 41.2%, rgba(0, 0, 0, 0.014) 47.1%, rgba(0, 0, 0, 0.016) 52.9%, rgba(0, 0, 0, 0.019) 58.8%, rgba(0, 0, 0, 0.022) 64.7%, rgba(0, 0, 0, 0.025) 71%, rgba(0, 0, 0, 0.027) 77.5%, rgba(0, 0, 0, 0.029) 84.5%, rgba(0, 0, 0, 0.03) 91.9%, rgba(0, 0, 0, 0.03) 100%)
}


.shot-thumbnail-container .shot-thumbnail-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}


.shot-thumbnail-container .shot-thumbnail-overlay {
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  border-radius: 8px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%, rgba(0, 0, 0, 0)), color-stop(63.94%, rgba(0, 0, 0, 0.00345888)), color-stop(65.89%, rgba(0, 0, 0, 0.014204)), color-stop(67.83%, rgba(0, 0, 0, 0.0326639)), color-stop(69.78%, rgba(0, 0, 0, 0.0589645)), color-stop(71.72%, rgba(0, 0, 0, 0.0927099)), color-stop(73.67%, rgba(0, 0, 0, 0.132754)), color-stop(75.61%, rgba(0, 0, 0, 0.177076)), color-stop(77.56%, rgba(0, 0, 0, 0.222924)), color-stop(79.5%, rgba(0, 0, 0, 0.267246)), color-stop(81.44%, rgba(0, 0, 0, 0.30729)), color-stop(83.39%, rgba(0, 0, 0, 0.341035)), color-stop(85.33%, rgba(0, 0, 0, 0.367336)), color-stop(87.28%, rgba(0, 0, 0, 0.385796)), color-stop(89.22%, rgba(0, 0, 0, 0.396541)), color-stop(91.17%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.00345888) 63.94%, rgba(0, 0, 0, 0.014204) 65.89%, rgba(0, 0, 0, 0.0326639) 67.83%, rgba(0, 0, 0, 0.0589645) 69.78%, rgba(0, 0, 0, 0.0927099) 71.72%, rgba(0, 0, 0, 0.132754) 73.67%, rgba(0, 0, 0, 0.177076) 75.61%, rgba(0, 0, 0, 0.222924) 77.56%, rgba(0, 0, 0, 0.267246) 79.5%, rgba(0, 0, 0, 0.30729) 81.44%, rgba(0, 0, 0, 0.341035) 83.39%, rgba(0, 0, 0, 0.367336) 85.33%, rgba(0, 0, 0, 0.385796) 87.28%, rgba(0, 0, 0, 0.396541) 89.22%, rgba(0, 0, 0, 0.4) 91.17%);
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none
}


.shot-thumbnail-container .shot-thumbnail-overlay .shot-thumbnail-overlay-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 0
}


.shot-thumbnail-container .shot-thumbnail-overlay .shot-title {
  color: #fff;
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}


.shot-thumbnail-container .shot-actions-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: end;
  justify-content: flex-end
}


.shot-thumbnail-container .shot-actions-container .shot-action {
  margin-left: 12px
}


.shot-thumbnail-container .shot-actions-container .bucket-shot {
  pointer-events: auto
}


.shot-thumbnail-container .shot-details-container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 8px
}


.shot-thumbnail-container .shot-details-container .user-information {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0;
  text-align: justify;
}

.shot-thumbnail-placeholder {
  margin: 0;
  overflow: hidden
}

.shot-thumbnail-placeholder:before {
  content: '';
  display: block;
  padding-top: calc(100% * calc(3 / 4))
}

.shot-thumbnail-placeholder>* {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.shot-thumbnail-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.home-type-body-large {
  font-size: 18px;
  line-height: 32px
}

@media (min-width: 768px) {
  .home-type-body-large {
    font-size: 20px;
    line-height: 36px
  }
}

.home-type-heading {
  font-family: "Plus Jakarta Sans", Georgia, serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 48px
}

@media (min-width: 768px) {
  .home-type-heading {
    font-size: 64px;
    line-height: 72px
  }
}

.home-container {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  overflow: hidden
}

@media (min-width: 768px) {
  .home-container {
    padding: 0 32px
  }
}

.home-badge {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 40px;
  padding: 10px 16px;
  border-radius: 9999999px;
  background-color: var(--home-badge-bg, #ffda79);
  color: var(--home-badge-color, #3d3d4e);
  font-family: "Plus Jakarta Sans", Georgia, serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 1
}

@media (min-width: 768px) {
  .home-badge {
    letter-spacing: 0
  }
}

.home-badge--color-cycle {
  -webkit-animation: badge-color-cycle 32s linear infinite;
  animation: badge-color-cycle 32s linear infinite
}

@-webkit-keyframes badge-color-cycle {
  0% {
    background-color: #ffda79
  }

  25% {
    background-color: #ffabe7
  }

  50% {
    background-color: #d2bcf3
  }

  75% {
    background-color: #edf3d8
  }

  100% {
    background-color: #ffda79
  }
}

@keyframes badge-color-cycle {
  0% {
    background-color: #ffda79
  }

  25% {
    background-color: #ffabe7
  }

  50% {
    background-color: #d2bcf3
  }

  75% {
    background-color: #edf3d8
  }

  100% {
    background-color: #ffda79
  }
}

.hero {
  position: relative;
  background-color: #f8f7f4;
  text-align: center
}

.hero__heading {
  max-width: 340px;
  margin: 40px auto 24px;
  font-family: "Kalam", Georgia, serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-shadow: 5px 5px #8acc1a;
}

.hero-image {
  margin: 0 0 auto;
  width: 100vw;
  height: calc(100vw* 0.5);
  position: relative;
  background-repeat: no-repeat;
  /*background-position: 50% 50%;*/
  background-size: 100%;
  background-image: url(../images/heroshot.webp);
}


.info {
  display: grid;
  position: absolute;
  z-index: 2;
  gap: 8px;
  padding: 12px 16px;
}

.tag {
  color: #fff;
  padding: 0 9px 2px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 11px;
  white-space: nowrap;
}

.tag-reverse {
  color: #000;
  border-color: #000;
  background-color: #59585839;
}

/****/



@media (min-width: 500px) {
  .hero__heading {
    max-width: 580px
  }
}

@media (min-width: 768px) {
  .hero__heading {
    max-width: 870px;
    font-size: 72px;
    line-height: 76px
  }
}

.hero-marquee {
  --grid-gap: 24px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 72px 0;
  overflow: hidden
}

@media (min-width: 768px) {
  .hero-marquee {
    --grid-gap: 32px
  }
}



.home-feed {
  margin: 43px 0 150px;
  text-align: center
}

.home-feed__heading {
  display: block;
  margin-bottom: 48px;
  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
  text-align: center
}

@media (min-width: 768px) {
  .home-feed__heading {
    font-size: 48px;
    line-height: 56px
  }
}

.home-feed__cta {
  margin-top: 48px
}

.home-feed li.shot-thumbnail:nth-of-type(49),
.home-feed li.shot-thumbnail:nth-of-type(50),
.home-feed li.shot-thumbnail:nth-of-type(51),
.home-feed li.shot-thumbnail:nth-of-type(52) {
  display: none
}

.footer-cta {
  padding: 120px 0;
  background-color: #79bdff;
  text-align: center
}

.footer-cta__heading {
  max-width: 680px;
  margin: 0 auto
}

.footer-cta__copy {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px
}

.footer-cta__copy a {
  color: inherit;
  text-decoration: underline;
  white-space: nowrap
}

.partners {
  align-items: center;
  background-color: #000;
  padding: 5rem 0;
  gap: 5rem;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (min-width: 768px) {
  .partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.partners>div {
  border-radius: 5px;
  padding: 8px;
  align-self: center;
  text-align: center;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%)
  }
}


.browse_all {
  display: block;
  animation-name: slide-in;
  animation-duration: 1s;
}

.browse_hidden {
  display: none;
  transform: translateY(-100%)
}

.game-tiles {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 420px;
  top: calc(50% - 10vw);
}

.tiles-wrapper {
  width: 270px;
  position: absolute;
  visibility: hidden;
  top: 0;
}

.tiles-wrapper::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.tiles-wrapper .tile {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.tiles-wrapper .tile img {
  width: 250px;
}

.tiles-wrapper>* {
  border-radius: 10px;
}

.tiles-wrapper>* img {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.banner {
  position: relative;
}

.jeepney {
  position: absolute;
  bottom: 0;
  z-index: 100;
  animation: movit 20s linear infinite;
}

.the_jeep {
  width: 40vw;
  animation: gelatine 1s infinite;
  /*animation: bounce2 2s ease infinite;*/
}

@keyframes movit {
  0% {
    left: -150%;
  }

  100% {
    left: 250%;
  }
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}


/*@media (min-width: 1680px) {

  .nav-v2-main__item {
    font-size: 250%;
  }
}*/