body {
  background: radial-gradient(ellipse at bottom, #0f2352 0%, #000000 100%);
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.logo {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient {
  width: 40vw;
  height: 40vw;
  filter: blur(10vw);
  background-image: linear-gradient(#4ddc9e, #5b37eb, #f1307e);
  animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  position: fixed;
  left: 30%;
  top: 40%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}